<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
        border: 1px solid #FFFFFF; 
        padding: 5px;
        width: 225px;
        background: #efefef;
        }
        label{
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option{
            min-width: 200px;
        }

    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>We are makin' the rules!!</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label>Name : {{ name }}</label>
            <input type="text" :disabled="buttonStatus== 'upload'" name="name" ref="name" v-model="name">
            <label>address : {{ address }}</label>
            <textarea name="address" :disabled="buttonStatus== 'upload'" ref="address" v-model="address"></textarea>
            <label>No. HP : {{ no_hp }}</label>
            <input type="text" :disabled="buttonStatus== 'upload'" name="no_hp" ref="no_hp" v-model="no_hp">
            <br>
            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" @click="updateMember(idEditMember)" value="UPDATE">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file"name="photo" ref="photo">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)" style="margin-top: 5px; margin-bottom: 5px;">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
            </div>

        </form>
        <br><br>
        <member-component
        v-for="member in members" 
        :member="member"
        @edit="editMember(member) = $event"
        @delete="removeMember(member.id) = $event"
        @upload="uploadPhoto(member) = $event"
        
        ></member-component>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module">
        import {MembersComponent} from './MembersComponent.js'
        var vm = new Vue({
            el:'#app',
            components : {
                'member-component' : MembersComponent
            },
            data:{
                name : '',
                address : '',
                no_hp : '',
                errors : [],
                members : [],
                photoDomain : 'http://demo-api-vue.sanbercloud.com',
                buttonStatus : 'submit',
                idEditMember : null,
                idUploadMember : null
            },
            methods:{
                getMembers : function(){
                    const config = {
                        method : "get",
                        url : "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                    .then( (response)=>{
                        this.members = response.data.members
                    })
                    .catch( (error)=>{
                        console.log(error)
                    })
                },
                clearForm : function(){
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                },
                validationForm : function(){
                    this.error = []
                
                if(this.name.length < 5){
                    this.errors.push('Nama Minimal 5 Huruf')
                    this.$refs.name.focus()
                } 
                if(this.address.length > 30){
                    this.errors.push('Alamat terlalu panjang')
                    this.$refs.descripton.focus()
                }
                if(this.no_hp.length < 5){
                    this.errors.push('Nomor HP Minimal 5 angka')
                    this.$refs.descripton.focus()
                }
                
                },
                submitForm : function(){
                    this.validationForm()
                    if(this.errors.length === 0){
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)
                        const config = {
                        method : "post",
                        url : "http://demo-api-vue.sanbercloud.com/api/member",
                        data : formData
                    }
                    axios(config)
                    .then( (response)=>{
                        this.clearForm()
                        this.getMembers()
                        alert(response.data.message)
                        console.log(response.data)

                    })
                    .catch( (error)=>{
                        console.log(error)
                    })
                }
                },
                removeMember : function(id){
                const config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params : {_method : "DELETE"}
                }
                axios(config)
                .then( (response)=>{
                    this.getMembers()
                    alert(response.data.message)
                    console.log(response)
                })
                .catch( ()=>{
                    console.log(error)
                })

                console.log(id)
            },
            editMember: function(member){
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.buttonStatus = 'update'
                this.idEditMember = member.id
                // console.log(blog)
            },
            updateMember: function(id){
                this.validationForm()
                if(this.errors.length === 0){
                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    let config = {
                        method : 'post',
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : {_method : 'PUT'},
                        data : formData
                    }
                    axios(config)
                    .then( (response)=>{
                        this.clearForm()
                        this.getMembers()

                        alert(response.data.message)
                    })
                    .catch( (error)=>{
                        console.log(error)
                    })
                }
            },
            uploadPhoto : function(member){
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.buttonStatus = 'upload'
                this.idUploadMember = member.id
            },
            submitPhoto : function(id){
                let file = this.$refs.photo.files[0]

                let formData = new FormData()
                formData.append('photo_profile', file)

                let config = {
                    method : 'post',
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data : formData
                }

                axios(config)
                .then( (response)=>{
                    this.clearForm()
                    this.getMembers()
                    alert(response.data.message)
                })
                .catch( (error)=>{
                    console.log(error)
                })
                // console.log(id)
            }
            },
            created(){
                this.getMembers()
            }
        })
    </script>
</body>
</html>