<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 2 JCC _ RF</title>
</head>
<body>
   <div id="app">
      <form >
         <input type="text" v-model="form.name"> 
         <button @click.prevent="add" v-show="!updateSubmit" >Add</button>
         <button @click.prevent="update" v-show="updateSubmit">update</button>
      </form>

      <ul v-for="(user, index) in users">
         <li>
            <span>{{ user.name }}</span>
            <button @click="edit(user, index)">Edit</button> || <button @click="del(index)">Delete</button>
         </li>
      </ul>
   </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var app = new Vue({
         el: "#app",
         data(){
            return{
                  users : [
                  {
                     'name' : 'Muhammad Iqbal Mubarok'
                  },
                  {
                     'name' : 'Ruby Purwanti'
                  },
                  {
                     'name' : 'Rezza Fitria'
                  },               
                  {
                     'name' : 'Faqih Muhammad'
                  }
               ],
               updateSubmit : false,
               form : {
                  'name' : ''
               },
               selectedUserId : null,
            }
         },
         methods: {
            add(){
               this.users.push(
                  this.form
               )
               this.form = {}
            },
            edit(user, index){
               this.selectedUserId = index
               this.updateSubmit = true
               this.form.name = user.name
            },
            update(){
               this.users[this.selectedUserId].name = this.form.name
               this.form = {}
               this.updateSubmit = false
               this.selectedUserId = null
            },
            del(index){
               var r = confirm('Anda Yakin?')

               if(r){
                  this.users.splice(index , 1)
               }
            }
         },
      })
    </script>
</body>
</html>