<template>
  <div class="about">
    <h1>This is an Blogs page</h1>
  </div>
</template>
<script>
export default {
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com"
    blogs : [],
    page : 0,
    lengthPage : 0,
    perPage : 0,
  }),

  methods : {
    go(){
      const config = {
        method: "get",
        url: this.apiDomain + "/api/v2/blog/page=" +this.page
      };

      this.axios(config)
      .then( response => {
      let { blogs } = response.data
      this.blogs = blogs.data
      this.page = blogs.current_page
      this.lengthPage = blogs.last_page
      this.perPage = blogs.per_page

      ]}
      .catch(
        error => {
          console.log(error);
        });
    }
  }
},